.container__messages {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message__bubble {
  max-width: 1000px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  margin: 10px;
  animation: swing 3s ease-in-out infinite;
}

.message__bubble:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50px;
  border-width: 20px 0 0 20px;
  border-style: solid;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
}

@keyframes swing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.typewriter {
  font-size: 2rem;
}

.button__muted {
  font-size: 0.8rem;
  width: 100px;
  height: 30px;
  border-radius: 50px;
  background-color: rgb(0, 255, 229);
  border: #fff;
}

@media (max-width: 800px) {
  .container__messages {
    justify-content: flex-start;
    margin-top: 2rem;
  }

  .typewriter {
    font-size: 1.2rem;
    text-align: center;
  }
}
