.navbar {
  background-color: black;
  display: flex;
  justify-content: space-around;
  height: 3rem;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  padding: 10px;
  list-style: none;
}

.menu a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

@media (max-width: 800px) {
  .container__logo {
    display: flex;
    justify-content: center;
  }
  .navbar {
    flex-direction: column;
    height: 7rem;
  }

  .menu {
    /* flex-direction: column; */
    padding: 0%;
    justify-content: center;
    align-items: center;
  }

  .menu a {
    font-size: 0.8rem;
  }
}
